<!DOCTYPE html>
<html ng-app="memory">
<head>
	<title>Memoria</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" type="text/javascript"></script>
	<script src="app.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-controller="mainCtrl">


<div ng-show="gameWin" class="lightboxVictory"> 
<div class="contentVic">
	<h3>Vitoria - {{gameminute}}:{{gamesecond}}</h3>

<div ng-click="restartGame()">RECOMECAR</div>
</div>
</div>
<div class="allcards centralize-a-xy">
Tempo : {{gameminute}}:{{gamesecond}} - Acertos {{gameRight}} Erros {{gameWrong}}
	<div class="line" ng-repeat="line in game track by $index" ng-init="lineIndex = $index">
		<div ng-click="setOption(lineIndex, $index)" ng-class="{'hideContent' : gameTurned[lineIndex][$index]}" class="card" ng-repeat="card in line  track by $index">{{card}}</div>
	</div>
</div>
</body>
</html>